@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);

  --radius-md: calc(var(--radius) - 2px);

  --radius-lg: var(--radius);

  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--background);

  --color-foreground: var(--foreground);

  --color-card: var(--card);

  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);

  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);

  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);

  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);

  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);

  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);

  --color-border: var(--border);

  --color-input: var(--input);

  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);

  --color-chart-2: var(--chart-2);

  --color-chart-3: var(--chart-3);

  --color-chart-4: var(--chart-4);

  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--sidebar);

  --color-sidebar-foreground: var(--sidebar-foreground);

  --color-sidebar-primary: var(--sidebar-primary);

  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);

  --color-sidebar-accent: var(--sidebar-accent);

  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

  --color-sidebar-border: var(--sidebar-border);

  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

:root {
  --radius: 0.625rem;

  --background: oklch(1 0 0);

  --foreground: oklch(0.145 0 0);

  --card: oklch(1 0 0);

  --card-foreground: oklch(0.145 0 0);

  --popover: oklch(1 0 0);

  --popover-foreground: oklch(0.145 0 0);

  --primary: oklch(0.205 0 0);

  --primary-foreground: oklch(0.985 0 0);

  --secondary: oklch(0.97 0 0);

  --secondary-foreground: oklch(0.205 0 0);

  --muted: oklch(0.97 0 0);

  --muted-foreground: oklch(0.556 0 0);

  --accent: oklch(0.97 0 0);

  --accent-foreground: oklch(0.205 0 0);

  --destructive: oklch(0.577 0.245 27.325);

  --border: oklch(0.922 0 0);

  --input: oklch(0.922 0 0);

  --ring: oklch(0.708 0 0);

  --chart-1: oklch(0.646 0.222 41.116);

  --chart-2: oklch(0.6 0.118 184.704);

  --chart-3: oklch(0.398 0.07 227.392);

  --chart-4: oklch(0.828 0.189 84.429);

  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: oklch(0.985 0 0);

  --sidebar-foreground: oklch(0.145 0 0);

  --sidebar-primary: oklch(0.205 0 0);

  --sidebar-primary-foreground: oklch(0.985 0 0);

  --sidebar-accent: oklch(0.97 0 0);

  --sidebar-accent-foreground: oklch(0.205 0 0);

  --sidebar-border: oklch(0.922 0 0);

  --sidebar-ring: oklch(0.708 0 0);
}

@theme {
  --color-alpha-100: #d7d9f4;
  --color-alpha-200: #b1b4e8;
  --color-alpha-300: #8e8fdb;
  --color-alpha-400: #6d6acc;
  --color-alpha-500: #5041bc;
  --color-alpha-600: #392e8b;
  --color-alpha-700: #241c5d;
  --color-alpha-800: #100b32;
  --color-alpha-900: #02010d;

  --color-error-100: #ffe7de;
  --color-error-200: #ffcebd;
  --color-error-300: #ffb59c;
  --color-error-400: #ff9b7b;
  --color-error-500: #ff8057;
  --color-error-600: #be5d3e;
  --color-error-700: #803d27;
  --color-error-800: #481f12;
  --color-error-900: #160603;

  --color-success-100: #def2e6;
  --color-success-200: #bce6cc;
  --color-success-300: #98d9b4;
  --color-success-400: #72cc9b;
  --color-success-500: #43be83;
  --color-success-600: #2f8c60;
  --color-success-700: #1d5e3f;
  --color-success-800: #0c3320;
  --color-success-900: #010d06;
  --color-s-white: #faf9f6;
  --color-s-gray: #bab9b7;

  /* font */

  --text-w-small-regular-16: 1rem;
  --text-w-small-regular-16--font-weight: 400;

  --text-w-small-regular-20: 1.25rem;
  --text-w-small-regular-20--font-weight: 400;

  --text-w-title-1-Medium-22: 1.5rem;
  --text-w-title-1-Medium-22--font-weight: 500;

  --text-w-title-2-Medium-28: 1.75rem;
  --text-w-title-2-Medium-28--font-weight: 500;

  --text-w-title-3-Medium-36: 2.25rem;
  --text-w-title-3-Medium-36--font-weight: 500;

  --text-w-title-4-Medium-48: 3rem;
  --text-w-title-4-Medium-48--font-weight: 600;
}

/* Base container */
.oc-commonContainer {
  max-width: 1612px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 60px;
  padding-right: 60px;
}

/* Extra large laptops and small desktops (≤ 1440px) */
@media screen and (max-width: 1440px) {
  .oc-commonContainer {
    padding-left: 50px;
    padding-right: 50px;
  }
}

/* Medium desktops and large tablets (≤ 1280px) */
@media screen and (max-width: 1280px) {
  .oc-commonContainer {
    padding-left: 40px;
    padding-right: 40px;
  }
}

/* Tablets and small laptops (≤ 1024px) */
@media screen and (max-width: 1024px) {
  .oc-commonContainer {
    padding-left: 30px;
    padding-right: 30px;
  }
}

/* Large phones and phablets (≤ 768px) */
@media screen and (max-width: 768px) {
  .oc-commonContainer {
    padding-left: 24px;
    padding-right: 24px;
  }
}

/* Standard mobile phones (≤ 600px) */
@media screen and (max-width: 600px) {
  .oc-commonContainer {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Small phones (≤ 420px) */
@media screen and (max-width: 420px) {
  .oc-commonContainer {
    padding-left: 18px;
    padding-right: 18px;
  }
}

/* Extra small phones or legacy devices (≤ 340px) */
@media screen and (max-width: 340px) {
  .oc-commonContainer {
    padding-left: 16px;
    padding-right: 16px;
  }
}


/*  */

/* swiper */
.swiper-button-next {
  width: 50px !important;
  height: 50px !important;
  border: 1px solid #5a4eae;
  padding: 15px;
  border-radius: 100%;
}

.swiper-button-prev {
  width: 50px !important;
  height: 50px !important;
  border: 1px solid #5a4eae;

  padding: 15px;
  border-radius: 100%;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev::after {
  display: none;
}
